.wrapper {
  position: relative;
  min-width: 298px;
  height: 345px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #f1f2f4;
  background: #fff;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 4px 10px 0px rgba(41, 57, 77, 0.1);
  }

  .banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: "lightgray";
    height: 150px;
    padding: 8px;

    .bannerTop {
      display: flex;
      justify-content: space-between;

      .clientLogo {
        padding: 2px;
        width: 58px;
        height: 34px;
        border-radius: 5px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 54px;
          height: 30px;
        }
      }
    }

    .bannerBottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .mode {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 9px;
        padding: 9px;
        padding-bottom: 10px;
        border: 1px solid #fff;
        border-radius: 50px;
        background: #29394db3;
        max-width: 34px;
        height: 34px;
        transition: all 0.3s ease-in-out;
        overflow: hidden;

        .modeIcon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 14px;
          height: 14px;
          padding-bottom: 1px;
        }

        .modeLabel {
          color: #fff;
          font-size: 12px;
          font-weight: 500;
          text-wrap: nowrap;
          text-transform: uppercase;
          line-height: normal;
        }
      }

      .badges {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 3px;

        .badge {
          padding: 2px 10px;
          border-radius: 5px;
          background: #29394db3;
          color: #fff;
          text-align: right;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
          text-transform: lowercase;

          &.redBadge {
            background: #fb1e5b !important;
            color: #fff;
          }

          &.greenBadge {
            background: #02af8e !important;
            color: #fff;
          }
        }

        .inclusPremium {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 22px;
          padding: 0 1rem;
          background: #fff;
          border-radius: 5px;
          font-size: 11px;
          font-weight: 500;
          color: #fb1e5b;
        }
      }
    }

    .registerBadge {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0.25rem;
      width: 36px;
      height: 44px;
    }

    .premiumFlag {
      position: absolute;
      text-align: center;
      width: 200px;
      height: 25px;
      top: 23px;
      right: -70px;
    }

    .labels {
      display: flex;
      margin-left: 0.5rem;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: 1rem;
      margin-right: 0.5rem;

      .label {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 26px;
        padding: 0 0.75rem;
        background: #18a0fb;
        border-radius: 50px;

        &:not(:last-child) {
          margin-right: 0.25rem;
        }

        font-size: 12px;
        font-weight: 400;
        color: #fff;
      }
    }
  }

  .details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

    .type {
      font-weight: 700;
      font-size: 16px;
      line-height: normal;
      color: #5f5de8;
      text-transform: uppercase;
    }

    &.season {
      .type {
        color: #f47f4d;
      }
    }

    &.essential {
      .type {
        color: #14b7ad;
      }
    }

    .title {
      height: 76px;
      color: #29394d;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: #3d5270;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
      }
    }

    .infos {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      ul li {
        display: flex;
        align-items: center;
        gap: 8px;

        span {
          display: flex;
          align-items: center;
          font-weight: normal;
          font-size: 12px;
          color: #29394d;

          strong {
            font-weight: 500;
          }
        }
      }

      .year {
        display: flex;
        align-items: center;
        border-radius: 5px;
        border: 1px solid #e1e4e8;
        padding: 2px 6px;
        height: 15px;
        color: #29394d;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 8px;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .action {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        height: 36px;
        min-width: 112px;
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        border: none;
        cursor: pointer;
        border-radius: 8px;
        background: #06d9b1;
        transition: all 0.2s ease-in-out;

        &:hover:not(.disabled) {
          background: #02af8e;
        }

        &.default {
          color: #6d7f92;
          background: #f1f2f4;

          &:hover:not(.disabled) {
            background: #e1e4e8;
          }
        }

        &.red {
          background: #fe3745;

          &:hover:not(.disabled) {
            background: #ec1a28;
          }
        }

        &.blue {
          background: #18a0fb;

          &:hover:not(.disabled) {
            background: #3b8ad5;
          }
        }

        &.disabled {
          opacity: 0.8;
          cursor: default;
        }
      }

      .price {
        display: flex;
        flex-direction: row;
        gap: 7px;
        align-items: center;

        .mainPrice {
          color: #29394d;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;
          white-space: nowrap;
        }

        .originalPrice {
          position: relative;
          color: #fc5d2b;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;
          white-space: nowrap;

          &::after {
            position: absolute;
            content: "";
            width: 120%;
            height: 2px;
            border-radius: 2px;
            background: #fc5d2b;
            top: 50%;
            right: -10%;
          }
        }

        .memberDiscount {
          width: 85px;
          min-height: 42px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;

          .discountPercent {
            color: #6d7f92;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-align: right;
          }

          .discountDescription {
            color: #6d7f92;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-align: right;
          }
        }
      }

      .registered {
        display: flex;
        align-items: center;
        gap: 5px;
        color: #02af8e;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 13px;
        text-transform: capitalize;
      }
    }
  }
}

.fetching {
  .title {
    height: 20px;
    width: 100%;
    margin-bottom: 2rem;
  }

  li {
    height: 1rem;
    width: 80%;
    margin-bottom: 8px;
  }
}
