.TagsForm {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 3.5rem;
  margin-bottom: 0;
  z-index: 14;
  box-shadow: 0 2px 10px #29394d1a;
  display: flex;
  flex-direction: column;
  animation: slideForm 0.2s ease-in-out forwards;
  margin-left: 8px;
  width: calc(100% - 1rem);
  overflow: hidden;

  .header {
    width: 100%;
    display: flex;
    margin-bottom: 0.8rem;

    .headerTitle {
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 16px;
      color: #29394d;
      flex: 1;
      padding-top: 0.1rem;
    }

    .close_icon {
      text-align: end;

      svg {
        cursor: pointer;
      }
    }
  }

  .mainContainer {
    position: relative;
    width: 100%;
    height: calc(100% - 1.5rem);

    .tagAndSelectContainer {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden auto;

      .selectContainer {
        padding: 0.08rem;
        white-space: nowrap;
      }

      .tagsSelectContainer {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #6d7f92;
      }

      .action {
        display: block;
        text-align: center;
        margin-top: 0.7rem;

        .submitBtn {
          border: none;
          outline: none;
          font-weight: 500;
          font-size: 0.9rem;
          width: 70%;
          height: 32px;
          background: #06d9b1;
          border-radius: 5px;
          color: #fff;

          &:hover {
            cursor: pointer;
            background: #02af8e;
          }
        }
      }

      .tagsContainer {
        display: flex;
        flex-flow: row wrap;
        margin-top: 0.7rem;
      }
    }

    .tagAndSelectContainer::-webkit-scrollbar {
      width: 8px;
    }

    .tagAndSelectContainer::-webkit-scrollbar-track {
      background: #f3f3f3;
      border-radius: 20px;
    }

    .tagAndSelectContainer::-webkit-scrollbar-thumb {
      background-color: #18a0fb;
      border-radius: 20px;
      border: 1.5px solid #f3f3f3;
    }

    .loader {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    .saving {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      display: flex;
      z-index: 15;
      align-items: center;
      justify-content: center;
      background-color: #d3e6ff94;
      border-radius: 5px;
    }
  }
}

@keyframes slideForm {
  from {
    height: 0;
    padding: 0;
  }
  to {
    height: calc(100% - 4.5rem);
    padding: 1rem;
  }
}
