@import "foundation-sites/scss/util/util";
// @import 'swiper/scss';
// @import 'swiper/scss/effect-coverflow';

.swiper {
  z-index: 0 !important;
  width: 100%;
  // overflow: hidden;
}

.swiper-container .swiper {
  height: 100%;
  max-height: 100vw;
  min-height: 0;
  min-width: 0;
  max-width: 100vw;
  width: 100%;
}

.swiper-slide {
  width: auto !important;
  max-width: 100%;
  flex-shrink: 0;
  display: block;
  height: 100%;
  max-height: 100%;
}

.swiper-wrapper {
  max-height: 100%;
  height: 100%t;
  display: flex;
  align-items: center;
}

@include breakpoint(small only) {
  .swiper-slide {
    width: 20rem !important;
  }
}
