.actions {
  position: absolute;
  background: #f1f2f4;
  bottom: 0;
  width: 100%;
  z-index: 100;
  border-top: 0.5px solid #b2bcc6;

  &.greenJewel {
    background: #f6f8f5;
    border-top-width: #9ba795;
  }
}
