@import "foundation-sites/scss/util/util";

.cycleSlide {
  .info {
    border-radius: 5px;
    background: rgba(41, 57, 77, 0.7);
    padding: 2px 10px;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
  }

  ul li {
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    line-height: normal;
    display: flex;

    strong {
      font-weight: 500;
    }

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  .counts {
    display: flex;
    gap: 10px;
  }

  .footer {
    display: flex;
    align-items: center;
    gap: 20px;

    .actions {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }

  .icon {
    height: 16px !important;
    width: 16px !important;
  }
}

.wrapper {
  position: relative;
  .title {
    display: flex;
    align-items: center;
    padding: 20px 20px 40px;
    border-radius: 14px;
    z-index: 1;
    margin-bottom: -1rem;
    overflow: hidden;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    height: 117px;
    white-space: pre-wrap;

    &.blue {
      color: #18a0fb;
      background-color: #18a0fb1a;
    }

    &.orange {
      color: #f47f4d;
      background-color: #f47f4d1a;
    }

    &.purple {
      color: #5f5de8;
      background: #5f5de81a;
    }

    &.greenTeal {
      color: #14b7ad;
      background: #14b7ad1a;
    }

    &.redOrange {
      color: #fb1e5b;
      background: #fb1e5b1a;
    }
  }

  .slideBlock {
    z-index: 2;
  }
}

@include breakpoint(medium down) {
  .cycleSlide {
    ul li {
      font-size: 0.75rem;
    }

    .footer {
      .actions {
        width: 100%;
      }
    }

    .icon {
      height: 14px !important;
      width: 14px !important;
    }
  }
}
