.tagHover:hover {
  cursor: pointer;
  color: #fff;
  background-color: #6d7f92;
}

.modalTag {
  padding: 20px;
  display: flex;
  justify-content: center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #000000d9;
    font-weight: 500;
    text-align: left;
  }

  &_left {
    width: 50%;
  }

  &_right {
    width: 50%;
    margin-left: 80px;
  }

  &_controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #6d7f921a;
    border-radius: 2px;
    background-color: #fff;
    padding: 10px;
  }
}

.formRow {
  margin-bottom: 1rem;
}

.configLabel {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #3c4e64;
}

.configLabelFlex {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  img {
    margin-right: 5px;
  }
}

.formInput {
  display: block;
  width: 100%;
  padding: 2px 10px;
  height: 38px !important;
  border: 1px solid #ced4db;
  border-radius: 5px;
  color: #29394d;
}

.superTag_box {
  margin-top: 20px;
}

.superTag_title {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 10px;
  justify-content: space-between;
  border-bottom: 1px solid #ced4db;
  font-weight: 400;
  font-size: 14px;
  color: #000000d9;
}

.tags_list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  .tag {
    display: block;
    background-color: #6d7f921a;
    border: 1px solid #f3faff;
    font-size: 12px;
    line-height: 14px;
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-weight: 400;
    color: #000000d9;
  }
}

.modal_header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 1rem;
  background: #f3faff;
  border-bottom: 1px solid #c7e8fe80;
  border-radius: 0 0 5px 5px;
  font-size: 20px;
  line-height: 23px;
  color: #2495e1;

  .close_icon {
    text-align: end;

    svg {
      cursor: pointer;
    }
  }
}

.modal_close {
  position: absolute;
  top: -18px;
  right: -18px;
  height: 36px;
  width: 36px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: #3c4e64;
  background: #fff;
  border: 1px solid #f1f2f4;
  border-radius: 50%;
}

.bar {
  display: flex;
  width: 100%;
  position: absolute;
  left: 0;
  top: 60px;
  border-bottom: 1px solid #6d7f921a;
  border-radius: 2px;
  background-color: #fff;
  padding: 10px;
}

.tags_table {
  width: 100%;
  margin-top: 60px;

  thead {
    background-color: #f6f9fc;

    th {
      padding: 1rem 0;
      text-align: center !important;
      font-size: 14px;
      font-weight: 500;
      text-transform: capitalize;
    }
  }

  tbody tr:hover {
    background-color: #5081be1a;
  }

  .cell {
    padding: 0.75rem 0.5rem;
    text-align: center !important;
    font-weight: 500;

    .namesList li {
      &:nth-child(1) {
        color: #3a87ad;
      }

      &:nth-child(2) {
        color: #acc460;
      }

      &:nth-child(3) {
        color: #f90;
      }
    }

    svg {
      height: 1rem;
      color: #5081be;
      margin: 0 0.5rem;
    }
  }
}

.saveButton {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 12px 24px;
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #18a0fb;
  color: #fff;
}

.cancelButton {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 12px 24px;
  gap: 5px;
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
  color: #29394d;
  border: 1px solid #d8dde2;
}
