.mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #29394d94;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &.active {
    opacity: 1;
  }

  .actions {
    display: flex;
    justify-content: center;
    margin-top: 0.6rem;
    gap: 0.6rem;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #18a0fb;
      border-radius: 2.5rem;
      width: 2.7rem;
      height: 2.7rem;
      color: white;
      border: none;
      font-size: 1.6rem;
      cursor: pointer;
      pointer-events: all;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: #3b8ad5;
      }

      padding-left: 0.1rem;
    }
  }
}
