.menuDropdown {
  position: absolute;
  right: 0;
  top: 65px;
  box-shadow: 0 4px 4px rgba(41, 57, 77, 0.1);
  border-radius: 14px;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  padding: 0 1rem 1rem;
  background: #fff;
  z-index: 1005;
  width: 24rem;
  background-color: #175352;
}

.menu a {
  line-height: 1;
  text-decoration: none;
  display: block;
  padding: 0.7rem 1rem;
}

.menu {
  margin: 0 1.3rem !important;
  align-items: center;

  .menuImg {
    padding: 0.5rem;
  }
  & > li {
    padding: 0.8rem 1rem;
    border-radius: 2rem 2rem 0 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;

    a img {
      margin-right: 0;
    }

    .icon {
      margin-right: 0.4rem;
    }
    & > span {
      font-size: 1.3rem;
      &.dotted:before {
        top: 21%;
        right: 27%;
      }
    }

    &:hover {
      background-color: var(--text-green-color);
      img {
        opacity: 0.85;
      }

      .badge {
        visibility: hidden;
      }

      //   &.expandable:after {
      //     content: " ";
      //     position: absolute;
      //     bottom: 0px;
      //     z-index: 6;

      //     bottom: -0.6rem;
      //     left: calc(50% - 7px);
      //     z-index: 6;
      //     background: transparent;
      //     border-right: 7px solid transparent;
      //     border-left: 7px solid transparent;
      //     border-bottom: 7px solid #f1f2f4;
      //   }
      .menuDropdown,
      .socialLinksWrapper {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.profileContainer {
  margin: 1rem 0;
}

.logout {
  cursor: pointer;
  //   padding: 0.25rem;
  //   text-align: center;
  margin-top: 1rem;
}
